@import "assets/scss/constant";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.vh-100 {
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;

  li {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    list-style: none;
    font: bolder 1rem Arial, sans-serif;
    color: black;
  }

  li:not(:last-child) {
    margin-right: .5rem;
  }

  a {
    display: block;
  }

  li:has(> a.active) {
    background: $green;
    color: aliceblue;
  }
}

.wrapper {
  max-width: 87.5rem;
  margin: 0 auto;
}

h1 {
  font-size: 4.5rem;
}

.search-container {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .search-result {
    width: 100%;

    li {
      list-style: square;
      color: $crimson;

      .text {
        color: black;
      }
    }
  }
}

.services-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table.services {
  width: 100%;
  text-align: left;
  border: 1px solid $green;

  caption {
    margin-bottom: 2rem;
    font: 700 2rem Arial, sans-serif;
  }

  th {
    color: $green;
  }


  td a, th {
    padding: 0.5rem;
    border: 1px solid $green;
  }

  td:not(.link) {
    border: 1px solid $green;
  }

  .link {
    transition: .3s all;
  }

  .link:hover {
    background-color: rgba(233, 30, 99, 0.1);
  }

  td > a {
    display: block;
  }

  td > a:hover {
    display: block;
  }

}

.service-detail {
  max-width: 50rem;
  margin: 0 auto;

  h5 {
    font-size: 2rem;
  }

  h5 > b {
    width: 5rem;
    height: 5rem;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    font-size: 3rem;
    border-radius: 50%;
    border: 4px solid $green;
  }

  p {
    font-size: 1.5rem;

    span {
      font-size: 2rem;
    }
  }
}

